@mixin brand ($color, $font-weight, $display, $text-transform, $font-size: 25px) {
	color: $color;
	font-weight: $font-weight;
	display: $display;
	text-transform: $text-transform;
	font-size: $font-size;
}

.brand-style1 {
	@include brand(#49213e, bold, inline-block, capitalize);
}

.brand-style2 {
	@include brand(black, bold, inline-block, capitalize);
}

.brand-style3 {
	@include brand(gray, bold, inline-block, capitalize);
}